*.dll
*.pdb
*.suo
*.pidb
*.csproj.user
*.userprefs
*.Publish.xml
*.tmproj
.DS_Store
*.cache
bin
Bin
App_Data
App_data
*~
*FileListAbsolute.txt
combined_*.css
combined_*.js
CastThree/*/combined*
CastRollerEF/migrate/*.sql
*/obj/*
ThumbGen/download/*
ThumbGen/generate/*
*/bin/*